<div>


 <p>Looking for a place to vent? Maybe you just need a good listener for a change. Or maybe you just want somewhere you can share your ideas, hopes, and dreams without judgement. Safe With Me is just what your looking for. Think of this as your personal, virtual diary!!</p>

        <button type="button">
            <a class="signup-button" id="signupBtn" href="/signup">Signup!</a>
        </button>

</div>
