<div>
 <nav class="navbar">
  
     
    </nav>

  <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Welcome!</h1>
    <p class="lead"> Hey, how are you today? Tell  me  about it!</p>
  </div>
</div>

  <div class="entry">
    <input type="text" class="form-control form-control-lg" id="entry" placeholder="Don't be shy... enter here :)">
      <button id="SubmitBtn" type="submit">submit</button>

  </div>
</div>

</div>