<div>
  {{!-- <header>
     <nav class="navbar">
       <a class="navbar-brand" id="loginBtn" href="/login">Logout</a>
    </nav>
  </header> --}}


  <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Welcome!</h1>
    <p class="lead"> Hey, how are you today? Tell  me  about it!</p>
  </div>
</div>

    <label for="entry"></label>
    <input class="form-control form-control-lg" type="text"  id="entry" placeholder="Enter here.">
    <input type="button" value="submit" id="subBtn">

    <p class="output" id="userOutput"></p>

  </div>
</div>

</div>

