<div>
 <nav class="navbar">
  
     
    </nav>

  <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Welcome!</h1>
    <p class="lead"> Hey, how are you today? Tell  me  about it!</p>
  </div>
</div>

<input class="form-control form-control-lg" type="text" placeholder="don't be shy, enter here.">

{{!-- <div class="card">
  <div class="card-body">
    This is some text within a card body.
  </div> --}}
</div>

</div>