<div>
    <form class="form login-form">
  <div class="username">
    <label for="usernameInput">Username:</label>
    <input type="text" class="form-control" id="usernameInput" placeholder="Username">
  </div>
  <div class="password">
    <label for="passwordInput">Password:</label>
    <input type="password" class="form-control" id="passwordInput" placeholder="Password">
  </div>
<button id="submit" type="submit">submit</button>

</form>


</div>