<div>

<form action="/" class="form signup-form">
  <div class="username">
    <label for="username">Username:</label>
    <input type="text" class="form-control" id="username" placeholder="username">
  </div>
  <div class="password">
    <label for="passwordInput">Password:</label>
    <input type="password" class="form-control" id="password" placeholder="password">
  </div>
  <div class="Age">
    <label for="AgeInput">Age:</label>
    <input type="text" class="form-control" id="Age" placeholder="age">
  </div>
<button id="submit" type="submit">submit</button>

</form>

</div>